/* --------------
        DEBUG
------------------*/

.debug header {
  height: 70px;
  border: 1px solid black;
}

.debug [class*='col'] {
  border: 1px solid black;
}

.debug .hero {
  background-color: #1abc9c;
  height: 400px;
}
.debug .box_img {
  background-color: red;
  border: 1px solid black;
  height: 200px;
}

.debug .about {
  height: 250px;
}

.debug .footer-top {
  background-color: #3a546d;
  height: 100px;
}

.debug .footer-bottom {
  background-color: #2c3e50;
  height: 50px;
}

/* --------------
        TYPO
------------------*/

/* --------------
        HEADER
------------------*/

header {
  background-color: #2c3e50;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.main-nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 0 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* --------------
        MAIN
------------------*/

.logo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
h1,
.hero p,
h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.star-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 100px;
  height: 2px;
}
.line-grey {
  background-color: #292929;
  border-radius: 3px;
  width: 100px;
  height: 3px;
}

.container_custom {
  max-width: 60%;
  margin: auto;
}

.avatar {
  height: 250px;
}

.hero,
.about,
.btn {
  background-color: #1abc9c;
  color: white;
}

.form_style {
  border: none;
}

.border_bottom {
  border-bottom: 1px solid lightgray;
}

.img_box {
  position: relative;
}

.hover {
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  background-color: rgba(26, 188, 156, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.hover:hover {
  opacity: 1;
}

/* --------------
        FOOTER
------------------*/

.footer-top {
  background-color: #3a546d;
}

.footer-bottom {
  background-color: #2c3e50;
}
