/* --------------
        DEBUG
------------------*/

.debug header {
  height: 70px;
  border: 1px solid black;
}

.debug [class*='col'] {
  border: 1px solid black;
}

/* --------------
        TYPO
------------------*/

/* --------------
        HEADER
------------------*/

header {
  background-color: #2c3e50;
}
